body {
  background-color: #e2ff59;
  font-family: courier;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 9vw;
  line-height: 1.1;
  font-family: 'Yatra One', cursive;
  margin-bottom: 0;
}

h2 {
  font-size: 20px;
}

.heading {
  margin-bottom: 50px;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry {
  padding: 20px;
  margin-bottom: 20px;
}

.entry a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 20px;
  border-radius: 50px;
  transition: border-radius 150ms ease-in-out;
}

.entry a:hover {
    cursor: pointer;
    border-radius: 0;
}


::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}