
@font-face {
  font-family: 'ivar';
  src: url('../fonts/IvarSoft-Regular.woff') format('woff'), url('../fonts/IvarSoft-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ziggy';
  src: url('../fonts/ZiggyITCTT.woff') format('woff'), url('../fonts/ZiggyITCTT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

::selection { background: #e8daff; }

a:hover {
  color: blue;
}

/*flickity*/

.flickity-prev-next-button.previous, .flickity-prev-next-button.next {
  display: none;
}

h2 span {
  background-color: #e8daff;
}

h2 {
  font-size: 40px;
}

h4 {
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: 50px;
}

hr {
  border: 1px solid blue;
  margin: 50px 0;
}

.semester {
  margin-bottom: 100px;
}

.education {
  line-height: 1.5;
}

/*type sizes*/

.large {
  font-size: 40px;
}

.dropcap {
  font-family: "ziggy", serif;
  line-height: 69px;
  padding-top: 2px;
  padding-right: 22px;
  padding-left: 10px;
  float: left;
  font-size: 84px;
}

.special {
  font-family: "ziggy", serif;
  font-size: 36px;
  letter-spacing:.5px;
  margin-top: -147px;
  padding-bottom: 99px;
  text-shadow: 2px 1px #000;
  color: #e8daff;
  /* color: black; */
  transform: rotate(12deg);
}

.special:hover {
  color: blue;
  text-shadow: 2px 1px #e8daff;
}

.medium {
  font-size: 28px;
}

.small {
  font-size: 15px;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 18px;
}

span.caps {
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}

.main-carousel,
.carousel-cell {
  height: 100%;
}

.main-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-carousel .flickity-viewport {
  height: 100% !important;
}

.carousel-cell {
  width: 80%;
  margin: 0 10vw;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.carousel-cell:not(.carousel-cell--video) {
  filter: drop-shadow(7px 8px 17px rgba(0, 0, 0, 0.2));
}

.carousel-cell video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.carousel-nav {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 30%;
  height: 100%;
}

.carousel-nav--previous {
  left: 0;
  /*cursor: url('../../imgs/carousel-arrow-previous.png') 20 8, auto;*/
  cursor: url('../../imgs/carousel-arrow-previous.png'), auto;
  cursor: -webkit-image-set(
    url('../../imgs/carousel-arrow-previous.png') 1x,
    url('../../imgs/carousel-arrow-previous_hi.png') 2x
  ), auto;
}

.carousel-nav--next {
  right: 0;
  /*cursor: url('../../imgs/carousel-arrow-next.png') 20 14, auto;*/
  cursor: url('../../imgs/carousel-arrow-next.png'), auto;
  cursor: -webkit-image-set(
    url('../../imgs/carousel-arrow-next.png') 1x,
    url('../../imgs/carousel-arrow-next_hi.png') 2x
  ), auto;
}

body {
  font-family: "ivar";
}

.hero-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.title {
  text-transform: uppercase;
  letter-spacing: .5px;
  display: flex;
  align-items: center;
  padding: 20px 20px 0;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.title--about {
  right: 0;
  left: auto;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid;
}

.title a {
  border-bottom-color: transparent;
}

.title a:hover {
  border-bottom-color: inherit;
}

.title a.active {
  border-bottom-color: inherit;
}

.caption {
  margin: 0;
  padding: 0 80px 20px 20px;
  text-align: left;
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
}

.counter {
  position: absolute;
  z-index: 1;
  padding: 20px;
  top: 100%;
  right: 0;
  transform: translateY(-100%);
  font-size: 70px;
  font-family: "ziggy";
}

/*
about page*/
.info {
  font-size: 40px;
  max-width: 1000px;
  margin: 3em auto 1em auto;
}


.about {
  max-width: 30%;
  cursor: zoom-in;;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  padding-right: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.background-element {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}

.background-element.active {
  opacity: 1;
}

.background-element--even {
  background: pink;
}
.background-element--odd {
  background: green;
}




h1, h2, h4 {
  font-weight: normal;
}

a.about {
    border: 0;
}



@media (max-width: 560px) {
  .counter {
    font-size: 30px;
  }

  .caption {
    max-width: 320px;
    padding-right: 20px;
  }

  .carousel-cell {
      width: 90%;
      margin: 0 5vw;
  }

  .info {
    font-size: 31px;
  }

  .about-wrapper {
    overflow: hidden;
  }

  .about {
    max-width: 50%;
  }

  .about--img {
    margin-top: 50px;
  }

  .special {
    margin-top:-110px;
    transform: rotate(20deg);
    font-size: 32px;
    }

    .row {
      display: inherit;
    }

    .column {
      line-height: 1.25;
    }

    .carousel-nav {
      width: 50%;
    }
}
