
@font-face {
  font-family: 'Classico';
  src: url('../fonts/ClassicoURW-Med.eot?#iefix') format('embedded-opentype'),  url('../fonts/ClassicoURW-Med.otf')  format('opentype'),
       url('../fonts/ClassicoURW-Med.woff') format('woff'), url('../fonts/ClassicoURW-Med.ttf')  format('truetype'), url('../fonts/ClassicoURW-Med.svg#ClassicoURW-Med') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Labud Sans';
  src: url('../fonts/banglarelli-webfont.woff2') format('woff'), url('../fonts/banglarelli-webfont.woff2')  format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  /*background-color: #f0f0f0;*/
  font-family: 'Classico', times;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: .5px;
}

::-moz-selection { background: #e8daff; }
::selection { background: #e8daff; }


.contact-item {
  position: fixed;
  top: 30px;
}

.contact-item--left {
  left: 30px;
}

.contact-item--right {
  right: 30px;
}

.project-container {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.large {
  width: 100%;
}

.medium {
  width: 75%;
}

.small {
  width: 25%;
}

.med-small {
  width: 50%;
}

.info {
  max-width: 900px;
  margin: 5em auto 3em auto;
}


.item {
  display: flex;
  margin: auto auto 10em auto;
}


a {
  color: black;
}

.grid {
  display: flex;
  min-height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto auto 10em auto;
}

.grid-item {
  display: flex;
  flex-basis: calc(50% - 10px);
  justify-content: center;
  flex-direction: column;
  margin: 10px auto 0 auto;
}

.video {
  background-color: #e8daff;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
    line-height: 1.5;
  }

  .info {
    margin: 125px 0 60px 0;
    padding: 0 30px;
  }

  .grid {
    flex-direction: column;
  }

  .grid-item {
    width: 100%;
  }

  .small, .med-small, .medium {
    width: 100%;
  }
}


footer {
  text-align: center;
}
