
@font-face {
  font-family: 'ivar';
  src: url('../fonts/IvarSoft-Regular.woff') format('woff'), url('../fonts/IvarSoft-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  /*background-color: #f0f0f0;*/
  font-family: 'ivar', times;
  font-size: 24px;
  line-height: 1.7;
  letter-spacing: .5px;
  color: white;
  background-color: black;
}


::-moz-selection { background: #e8daff; }
::selection { background: #e8daff; }

h1, h2 {
  font-weight: normal;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 5px;
  margin-bottom: 15px;
}




.contact a:hover, footer a:hover {
  cursor: ne-resize;
  filter: none;
  color: blue;
}

.contact a {
  transition: none;
  text-decoration: none;
}

.white a{
  color: white;
}


.contact-item {
  position: fixed;
  top: 30px;
}

.contact-item--left {
  left: 30px;
}

.contact-item--right {
  right: 30px;
}

.project-container {
  /*max-width: 1500px;*/
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.large {
  width: 100%;
}

.medium {
  width: 75%;
}

.small {
  width: 25%;
}

.med-small {
  width: 50%;
}

.info {
  max-width: 900px;
  margin: 5em auto 3em auto;
}


.item {
  display: flex;
  margin: auto auto 10em auto;
}


a {
  color: black;
}


.grid {
  display: flex;
  min-height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto auto 10em auto;
}

.grid-item {
  display: flex;
  flex-basis: calc(50% - 50px);
  justify-content: center;
  flex-direction: column;
  margin: 10px auto 50px auto;
}

.video {
  background-color: #e8daff;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
    line-height: 1.5;
  }

  .info {
    margin: 125px 0 60px 0;
    padding: 0 30px;
  }

  .grid {
    flex-direction: column;
  }

  .grid-item {
    width: 100%;
  }

  .small, .med-small, .medium {
    width: 100%;
  }
}


footer {
  text-align: center;
}
